@charset "UTF-8";
/* CSS Document */

#main{
width:750px; height:500px;
margin:0 auto;	
}
#userinput{
	float:left;
	margin-top:25px;
	padding:20px;
	background-color:lightcyan;
	width:300px; height:610px;
    border-radius: 10px;
    border: 1px black solid;
	}


#useroutput{
	float:left;
	margin-top:25px;
	margin-left:20px;
	padding:20px;
	width:300px; height:610px;
	background-color: aliceblue;
    border-radius: 10px;
	border: 1px black solid;
	}

body{
    background-image: url(images/donut.png);
}

